body{
    background: rgb(117,19,147);
background: linear-gradient(276deg, rgba(117,19,147,1) 0%, rgba(189,59,59,1) 100%);

}

#box{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

    background-color: #D9D9D9;
    width: 1050px;
    height: 500px;
    border-radius: 20px;
    display: flex;
}

#boximg{
    width: 525px;
    background-color: #C8C1C1;
    height: 500px;
    border-radius: 20px;
}

#img{
    margin-top: 20%;
}

#titulo{
    margin-top: 50px;
    font-size: 30px;
    font-weight: bolder;
}

#txt{
    font-weight:lighter;
    font-size: 18px;
}

#cadastro{
    margin-left: 50px;
}

#botao{
    background-color: #751393;
    border: none;
    color: white;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    margin-top: 30px;
}

#botao:hover{
    transform:scale(0.95);
    background-color: rgb(255, 255, 255);
    color: #751393;
    border-color: #751393;
}

#txtcadastro{
    margin-left: 200px;
    margin-top: 25px;
    
}

#txtcadastro:hover{
    transform:scale(0.95);
    color: #751393;

}

#email{
    border: none;
    border-radius: 20px;
    width: 300px
}

#senha{
    border: none;
    border-radius: 20px;
    width: 300px
}

/*inicio do formulário*/


#box_form{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    
    background-color: #D9D9D9;
    width: 850px;
    height: 820px;
    border-radius: 40px;
}

#titulo_c{
    font-size: 30px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: white;
}

#fundo{
    margin-left: auto;
    margin-right: auto;
    
    background-color: #751393;
    width: 350px;
    height: 100px;
    border-radius: 50px;

    box-shadow: 10px 5px 5px #C8C1C1;
    display: flex;
}

#formulario{
    display: flex;
    gap: 100px;
    margin-top: 50px;
}

#pag1{
    margin-left: 140px;
}

input{
    border: none;
    border-radius: 20px;
    
}

#sep{
    width: 2px;
    border-radius: 20px;
    background-color: #751393;
    height: 500px
}

#input{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

#botao2{
    background-color: #751393;
    border: none;
    color: white;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    margin-left: 525px;
    margin-right: auto;
}

#botao2:hover{
    transform:scale(0.95);
    background-color: rgb(255, 255, 255);
    color: #751393;
    border-color: #751393;
}

#icon{
    margin-left: 150px;
    text-decoration: none;
}

#icon:hover{
    color: #751393;
}


#update{
    background-color: #751393;
    border: none;
    color: white;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    margin-left: 525px;
    margin-right: auto;
}

#update:hover{
    transform:scale(0.95);
    background-color: rgb(255, 255, 255);
    color: #751393;
    border-color: #751393;
}