body{
    background: rgb(117,19,147);
background: linear-gradient(276deg, rgba(117,19,147,1) 0%, rgba(0,0,0,1) 72%);
}

#box{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

    background-color: #D9D9D9;
    width: 1050px;
    height: 500px;
    border-radius: 20px;
    display: flex;
}

#boximg{
    width: 525px;
    background-color: #C8C1C1;
    height: 500px;
    border-radius: 20px;
}

#img{
    margin-top: 20%;
}

#titulo{
    margin-top: 50px;
    font-size: 30px;
    font-weight: bolder;
}

#txt{
    font-weight:lighter;
    font-size: 18px;
}

#cadastro{
    margin-left: 50px;
}

#botao{
    background-color: #751393;
    border: none;
    color: white;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    margin-top: 30px;
}

#botao:hover{
    transform:scale(0.95);
    background-color: rgb(255, 255, 255);
    color: #751393;
    border-color: #751393;
}

#txtcadastro{
    margin-left: 200px;
    margin-top: 25px;
    
}

#txtcadastro:hover{
    transform:scale(0.95);
    color: #751393;

}

#email{
    border: none;
    border-radius: 20px;
    width: 300px
}

#senha{
    border: none;
    border-radius: 20px;
    width: 300px
}